{% extends "base.html" %}
{% block content %}
  <div class="row justify-content-left">
    <form method="post" action="{% url 'parse' %}">
      {% csrf_token %}
      <label for="basic-url">Enter an URL</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">https://example.com/</span>
            <input type="text" class="form-control" id="basic-url" name="url" aria-describedby="basic-addon3">
          </div>
            <button type="submit" class="btn btn-primary">
              Parse URL
            </button>
        </div>
    </form>
  </div>
{% endblock %}